// Font
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,200,300,400,500,600,700');
$font-body: 'Libre Franklin';

// Colours
$color-primary: #445a70;
$color-secondary: #edf2f7;
$color-tertiary: #f5f5f0;
$color-black: #29291b;
$color-white: #fafafa;

//Grid
$screen-small: 460px;
$screen-medium: 768px;
$screen-large: 1024px;
$screen-xlarge: 1200px;

// Main styles
body {
  font-size: 14px;
  line-height: 1.4;
  color: $color-black;
  font-family: $font-body;
}
